[project]
	description = Source code of the tutorials
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ian Propper (ipropper)
[access "refs/for/refs/*"]
	read = group user/Ian Propper (ipropper)
	push = group user/Ian Propper (ipropper)
	label-Code-Review = -2..+2 group user/Ian Propper (ipropper)
	label-Verified = -1..+1 group user/Ian Propper (ipropper)
	rebase = group user/Ian Propper (ipropper)
	removeReviewer = group user/Ian Propper (ipropper)
	submit = group user/Ian Propper (ipropper)
[access "refs/heads/*"]
	read = group user/Ian Propper (ipropper)
	create = group user/Ian Propper (ipropper)
	push = +force group user/Ian Propper (ipropper)
	pushMerge = group user/Ian Propper (ipropper)
[access "refs/tags/*"]
	push = group user/Ian Propper (ipropper)
	push = +force group user/Ian Propper (ipropper)
